.bgImage{
    background-image: url(../../../../../assets/images/login-signup-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.headerLogo{
    margin-bottom: 25px;
}
.header{
    text-align: center;
}
.emailInput{
    height: 45px;
    font-size: 1.2rem;
}
.headerText{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
.enterEmailText{
    margin-top: 7px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.mainContainer{
    animation: grow 0.3s ease-out;
    max-width: 600px;
}
@keyframes grow {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}