.mainContainer{
    padding: 20px;
    width: 100%;
    height: fit-content;
    container-type: inline-size;
    container-name: mainContainer;
}

.header{
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.header>.textArea{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.header>.textArea>.upperText{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.header>.textArea>.lowerText{
    color: #667f8a;
    font-size: 0.9rem;
}

.btns{
    display: flex;
    gap: 7px;
}

.body .filterBtn ,.body .sortBtn{
    padding: 10px 12px;
    height: fit-content;
    border-radius: 0.75rem;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    border: 1px solid #4f666f;
    background-color: #1a2a33;
    color: #667f8a;
    font-weight: bold;
    cursor: pointer;
}

.listingsArea{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.body>.topArea{
    display: flex;
    margin-bottom: 22px;
    column-gap: 7px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.body > .topArea > .filterOptionsRow {
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 3px;
    color: #667f8a;
    border: 2px solid #203641;
    border-radius: 0.75rem;
    padding: 3px;
    margin-right: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}

.body > .topArea > .filterOptionsRow > .option {
    flex: 1;
    padding: 7px 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 2;
    text-align: center;
}

.body > .topArea > .filterOptionsRow > .option.selected {
    color: white;
}

.body > .topArea > .filterOptionsRow::after {
    content: "";
    position: absolute;
    top: 3px;
    display: none;
    height: calc(100% - 6px);
    background-color: #1a2a33;
    border-radius: calc(0.75rem - 5px);
    width: 0;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 1;
    width: calc(25% - 4.5px);
}

.body > .topArea > .filterOptionsRow:has(.selected)::after{
    display: inline-block;
}

.body > .topArea > .filterOptionsRow:has(.option.all.selected)::after {
    left: 3px;
}

.body > .topArea > .filterOptionsRow:has(.option.avtive.selected)::after {
    left: calc(25% + 1.5px);
}

.body > .topArea > .filterOptionsRow:has(.option.pending.selected)::after {
    left: calc(50% + 1.5px);
}

.body > .topArea > .filterOptionsRow:has(.option.sold.selected)::after {
    left: calc(75% + 1.5px);
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@container mainContainer (max-width:630px){
    .body>.topArea{
        flex-direction: column;
    }
}

@container mainContainer (max-width:582px){
    :global(.globalHouseListingContainer){
        max-width: none !important;
    }
}

@container mainContainer (max-width:360px){
    .filterOptionsRow .option{
        font-size: 0.8rem !important;
    }
    .header .addBtn{
        font-size: 0.7rem;
        padding: 11px 10px;
    }
}